# Check http://editorconfig.org for more information
# This is the main config file for this project:
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
#max_line_length = 119
trim_trailing_whitespace = true

[*.tmpl]
indent_size = 2

[*.{less, yml}]
indent_size = 2

[Makefile]
indent_size = 8

[*.md]
trim_trailing_whitespace = false
