#!/usr/bin/env sh

# autoruns
sxhkd &                         # bind keys
xset r rate 300 50 &            # speed xrate up
unclutter &                     # remove mouse when idle
launch-bar &                    # start *bar panel
dunst &                         # dunst for notifications
setbg &                         # set the background
hsetroot -solid "#000000" &     # удаляет серый фон, перед запуском xcompmgr
(sleep 1 && xcompmgr) &         # xcompmgr for transparency

