prefer-no-csd
screenshot-path null
environment {
    CLUTTER_BACKEND "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    GDK_BACKEND "wayland"
    GTK_IM_MODULE "simple"
    MOZ_ENABLE_WAYLAND "1"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    SDL_VIDEODRIVER "wayland"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    _JAVA_AWT_WM_NONREPARENTING "1"
}
cursor {
    xcursor-theme "capitaine-cursors"
    xcursor-size 24
}
debug {
    // Allows notification actions and window activation from Noctalia.
    honor-xdg-activation-with-invalid-serial
}
hotkey-overlay {
    skip-at-startup
}

