window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}
layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}
window-rule {
    match app-id="Yandex-browser"
    open-maximized true
}

