[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/sh -c 'exec $(which kanata) --cfg ${HOME}/.config/kanata/config.kbd'
Restart=on-failure
RestartSec=3
Environment=DISPLAY=:0
Environment=PATH=/usr/local/bin:/usr/bin:/bin:%h/.cargo/bin:%h/bin

[Install]
WantedBy=graphical-session.target
